/* Add a background color to the header element */
header {text-align: center;
    background-color: rgb(5, 75, 51);
};


/* Add a fun background color to the main element */
main {background-color: rgb(172, 233, 233);};

/* Align the h1 containing your name in the center of the header*/
h1 {text-align: center;};

/* Make your p tag a different color and italic */
li {color:rgb(54, 143, 114);
    font-style:italic;
};
/* Put a border around your image */
img { 
    border: 5px solid rgb(62, 229, 173);
    max-width: 20%;
    max-height: 20%;
   
    
  };
/* Change the font-family of your list */
li { font-family:'Lucida Sans';
    
    
};
/* Add a background color to the footer element */
footer {background-color: rgb(132, 132, 59);};